[submodule "JulesEngine/vendor/spdlog"]
	path = JulesEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "JulesEngine/vendor/GLFW"]
	path = JulesEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
